.about-container {
    width: 100%;
    min-height: 100vh;
    background-color: #0c111b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.about-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #1f80e0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.about-description {
    font-size: 1.5rem;
    max-width: 800px;
    line-height: 1.6;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.about-highlight {
    font-weight: bold;
    color: #f5c518;
}
.about-subtitle{
    font-size: 40px;
    color: #1f80e0;
    font-weight: 500;
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .about-title {
        font-size: 2.5rem;
    }

    .about-description {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 480px) {
    .about-title {
        font-size: 2rem;
    }

    .about-description {
        font-size: 1rem;
    }
}
